# Local environment
.env
.env.*

# VS Code
.vscode/

# Logs
*.log

# Coverage data
.coverage

# Ruff cache
.ruff_cache/

# Mypy cache
.mypy_cache/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python Virtual Environments
.venv/
venv/
env/
ENV/
